@media (min-width: 768px) and (max-width: 999px) {
    .servicos-box {
        flex-direction: row;
    }
}

@media (min-width: 1000px) {
    body {
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0;
        background-color: #141414; /* Ajuste a cor de fundo conforme necessário */
    }

    .container {
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color:  #141414; /* Ajuste a cor de fundo do container conforme necessário */
        padding: 1rem;
        border-radius: 10px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
        max-width: 400px; /* Define uma largura máxima */
        width: 100%;
    }
    
    .top, .center, .bottom {
        width: 100%;
        height: 30%;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 1rem;
    }
    
    .top {
        margin-bottom: 1rem;
    }
    
    .user {
        display: flex; /* Para alinhar conteúdo em linha */
        flex-direction: column; /* Para garantir que a imagem e o texto fiquem um em cima do outro */
        align-items: center;
        text-align: center;
        margin-bottom: 1rem;
    }
    
    .user .content-user {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    .user .img-user {
        margin-bottom: 1rem; /* Espaçamento abaixo da imagem */
    }
    
    .user img {
        width: 120px; /* Ajuste o tamanho da imagem conforme necessário */
        height: 120px; /* Ajuste o tamanho da imagem conforme necessário */
        border-radius: 50%; /* Para fazer a imagem circular */
    }
    
    .info-user {
        text-align: center;
    }
    
    .info-user h1 {
        font-size: 1.8rem;
        margin-bottom: 0.5rem; /* Espaçamento abaixo do título */
    }
    
    .info-user span {
        font-size: 1.5rem;
        color: #888; /* Cor do texto secundário */
    }
    
    .info-user p {
        font-size: 1.2rem;
        color: #666; /* Cor do texto adicional */
    }
    
    .projeto {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 1rem;
    }

    .projeto img {
        width: 100px;
        height: auto;
        margin-bottom: 0.5rem;
    }

    .btn-projeto a {
        text-decoration: none;
        color: #fff;
        background-color: #28a745;
        padding: 0.5rem 1rem;
        border-radius: 5px;
        font-size: 1rem;
    }

    .redes-sociais {
        display: flex;
        justify-content: center;
        gap: 0.5rem;
        margin-bottom: 1rem;
    }

    .redes-sociais i {
        font-size: 1.5rem;
        color: #fff;
    }

    .skills {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 1rem;
    }

    .text-skills span {
        font-size: 1.2rem;
        color: #fff;
        margin-bottom: 0.5rem;
    }

    .skills-icons {
        display: flex;
        justify-content: center;
        gap: 0.5rem;
    }

    .skills-icons i {
        font-size: 1.5rem;
        color: #fff;
    }

    .servicos {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 1rem;
    }

    .text-servicos h1 {
        font-size: 1.5rem;
        color: #fff;
    }

    .text-servicos span {
        font-size: 1rem;
        color: #aaa;
        text-align: center;
        display: block;
        margin-bottom: 1rem;
    }

    .servicos-box {
        display: flex;
        flex-direction: row;
        gap: 1rem;
        justify-content: center;
    }

    .item-servico {
        width: 80px;
        height: 80px;
        border-radius: 10px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: #444; /* Ajuste a cor de fundo do item de serviço conforme necessário */
        color: #fff; /* Ajuste a cor do texto conforme necessário */
        text-align: center;
        font-size: 0.8rem;
    }
    
    .item-servico i {
        font-size: 1.2rem;
        margin-bottom: 0.5rem;
    }

    .item-servico span {
        font-size: 0.8rem;
    }

    .contato {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 1rem;
    }

    .text-contato h1 {
        font-size: 1.5rem;
        color: #fff;
    }

    .text-contato span {
        font-size: 1rem;
        color: #aaa;
        text-align: center;
        display: block;
        margin-bottom: 1rem;
    }

    .lista-contato a {
        color: #fff;
        text-decoration: none;
        margin-bottom: 0.5rem;
        display: block;
    }

    .btn-contato a {
        text-decoration: none;
        color: #fff;
        background-color: #007bff;
        padding: 0.5rem 1rem;
        border-radius: 5px;
        font-size: 1rem;
    }
}
